@model Raunstrup_Webapplication.ViewModel.ServiceLineViewModel
@* Nichlas *@
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<h1>Create</h1>

<h4>Service Line</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="ServiceLineModel.ForeignKey3_.Offer_ID" class="control-label">Offer: </label>
                @Html.DropDownListFor(m => m.ServiceLineModel.ForeignKey3_.Offer_ID, new SelectList(Model.OfferModel, "Offer_ID", "Offer_ID"), "-Select Offer-", new { @class = "form-group" })
            </div>
            <div class="form-group">
                <label asp-for="ServiceLineModel.ForeignKey2_" class="control-label">Service: </label>
                @Html.DropDownListFor(m => m.ServiceLineModel.ForeignKey2_.Service_ID, new SelectList(Model.ServiceModel, "Service_ID", "Name", "Service_ID"), "-Select Service-", new { @class = "form-group" })
            </div>
            <div class="form-group">
                <label asp-for="ServiceLineModel.ForeignKey1_.Name" class="control-label">Resource: </label>
                @Html.DropDownListFor(m => m.ServiceLineModel.ForeignKey1_.Res_ID, new SelectList(Model.ResourceModel, "Res_ID", "Name", "Res_ID"), "-Select Resource-", new { @class = "form-group" })
            </div>
            <div class="form-group">
                <label asp-for="ServiceLineModel.Resource_Quantity" class="control-label"></label>
                <input asp-for="ServiceLineModel.Resource_Quantity" class="form-control" />
                <span asp-validation-for="ServiceLineModel.Resource_Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceLineModel.Added_Quantity" class="control-label"></label>
                <input asp-for="ServiceLineModel.Added_Quantity" value="0" readonly="readonly" class="form-control" />
                <span asp-validation-for="ServiceLineModel.Added_Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceLineModel.Used_Quantity" class="control-label"></label>
                <input asp-for="ServiceLineModel.Used_Quantity" value="0" readonly="readonly" class="form-control" />
                <span asp-validation-for="ServiceLineModel.Used_Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EmployeeOfferModel.EmployeeOffer_ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmployeeOfferModel.ForeignKey2_.Name)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.EmployeeOfferModel.ForeignKey2_.Expertise)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.EmployeeModels)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Expertise)
                        </td>

                    </tr>
                }

            </tbody>
        </table>
        <a class="btn btn-lg btn-block  btn-primary btn-sm" asp-controller="EmployeeOffer" asp-action="Create">
            Add Employee to Offer
        </a>
    </div>

</div>
<div>
    <a asp-controller="Offer" asp-action="Index">Back to Offers</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous">

    </script>

}

