@model IEnumerable<Raunstrup_Webapplication.Models.ServiceLineModel>

@{
    ViewData["Title"] = "Service Line";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Service Line</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<form asp-action="Index">
    <input type="text" id="Filter" name="ServiceName" />
    <button class="btn btn-primary" type="submit">Search</button>
</form>
<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ForeignKey3_)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForeignKey1_)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForeignKey2_)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resource_Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Added_Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ForeignKey3_)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ForeignKey1_)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ForeignKey2_)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Resource_Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Added_Quantity)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Service_Line_ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Service_Line_ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Service_Line_ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $("#Filter").autocomplete({
                source: "api/Nichlas_Temp_API/Search"
            })
        })
    </script>
}
