
@model Raunstrup_Webapplication.ViewModel.PrintViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Print/E-mail</h1>

<form asp-action="Index">
    <input type="text" id="Filter" name="OfferID" placeholder="Search ID" />
    <button class="btn btn-primary" type="submit">Search</button>
</form>

@if (Model == null)
{
    <text>No offer found </text>
}
else
{
    <section class="row mb-3">

        <section class="col-3">
        </section>


        <table class="table table-bordered col-6 text-center">
            @foreach (var offerModel in Model.OfferModels)
            {
                <tr>
                    <th>ID</th>
                    <td>@offerModel.Offer_ID</td>
                </tr>

                <tr>
                    <th>Title</th>
                    <td>@offerModel.Offer_Title</td>
                </tr>

                <tr>
                    <th>Start Date</th>
                    <td>@offerModel.Start_date.ToShortDateString()</td>
                </tr>

                <tr>
                    <th>End Date</th>
                    <td>@offerModel.End_Date.ToShortDateString()</td>
                </tr>

                <tr>
                    <th>Price</th>
                    <td>@offerModel.Offer_Price</td>
                </tr>

                <tr>
                    <th>Customer ID</th>
                    <td>@offerModel.ForeignKey1_.Costumor_Id</td>
                </tr>
            }
            
        </table>

        @*<section class="col-3">
                BRUG DEN HER PLADS, HVIS NØDVENDIGT ELLER SLET
            </section>*@

    </section>

    <section class="row mb-3">

        <section>
        </section>

        <section class="container text-center col-6">

            <form asp-action="PrintOffer">
                <input type="text" placeholder="ID you want to PDF" id="Filter" name="OfferID"/>
                <button type="submit" class="btn btn-lg btn-block btn-outline-primary btn-sm">
                    Print this offer
                </button>
            </form>

            <a class="btn btn-lg btn-block btn-outline-primary btn-sm" href="mailto:?subject=Your Offer &body=This is our offer, Please save this E-mail.">
                @* ?subject gør at man kan ændre i titel ved mailen. &body gør at man kan ændre i hvad der skal stå i mailen.
                    &cc gør det muligt at tilføje en kontakt. &bcc gør det muligt at tiføje endnu en kontakt*@
                E-mail this offer
            </a>

        </section>

        <section>
        </section>

    </section>
}

@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $("#Filter").click({
                source: "api/Offer_APIController/Search"
            })
        })
    </script>
    
    <script type="text/javascript">
        $("#Filter").click(function() {
            source:"/Print/PrintOffer"
        });
    </script>
}
