@using Raunstrup_Webapplication.ViewModel
@using Microsoft.CodeAnalysis.CSharp.Syntax
@model Raunstrup_Webapplication.ViewModel.OrderViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
        <!-- Jacob-- >
    </style>
<h1>List of Orders</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order.Order_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.ForeignKey1_.Offer_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.ForeignKey2_.Costumor_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.Price)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.OrderModels)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ForeignKey1_.Offer_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ForeignKey2_.Costumor_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>

    }
    </tbody>
</table>
<h3> List of Pending Offers</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Offer.Offer_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offer.ForeignKey1_.Costumor_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offer.Offer_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offer.Start_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offer.End_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offer.Offer_Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offer.Status)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OfferModels)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Offer_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ForeignKey1_.Costumor_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Offer_Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Offer_Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>