@model Raunstrup_Webapplication.ViewModel.JacobViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order.Order_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.ForeignKey1_.Offer_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.ForeignKey2_.Costumor_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.Price)
            </th>
            
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.OrderModels)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Order_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Order_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Order_ID">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
