@model Raunstrup_Webapplication.Models.OfferModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>OfferModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Offer_Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Offer_Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Start_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Start_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.End_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.End_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Offer_Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Offer_Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Offer_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
